<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="bg-kt-classic ie6"> <![endif]-->
<!--[if IE 7]>         <html class="bg-kt-classic ie7"> <![endif]-->
<!--[if IE 8]>         <html class="bg-kt-classic ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="bg-kt-classic">         <!--<![endif]-->
<!-- #goodbyeie8 -->


  <head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- Force IE (and chromeframe) to act like the version it is an not offer a Compatibility View button -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=<%= charset %>" />
    <meta name="language" content="en-US">

    {{#if keytrain_site }}
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/ico/kt/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/ico/kt/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/ico/kt/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/img/ico/kt/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/img/ico/kt/favicon.png">
    <link rel="shortcut icon" href="/img/ico/kt/favicon.ico">
    {{else}}
    <link rel="icon" href="/img/ico/cr101/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/img/ico/cr101/favicon.ico" type="image/x-icon">
    {{/if}}



    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
	<!-- NProgress -->
    <link href="/css/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/css/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
	
    <!-- bootstrap-progressbar -->
    <link href="/css/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="/css/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>
    <!-- bootstrap-daterangepicker -->
    <link href="/css/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/css/custom.css" rel="stylesheet">
	<!-- D3 js -->

	<script src="http://d3js.org/d3.v3.min.js" language="JavaScript"></script>
    <script src="/js/d3/liquidFillGauge.js" language="JavaScript"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>

    <title>{{#if keytrain_site}}ACT KeyTrain{{else}}ACT Career Ready 101{{/if}}</title>
  </head>

  <body class="nav-md bg-kt-classic {{#if self_signup}}signup{{else}}signin{{/if}} {{#if keytrain_site}}site-keytrain{{else}}site-cr101{{/if}}">
    <span id="app">{{{html}}}</span>
    <script>
      window.INITIAL_STATE = {{{state}}};
    </script>
    <script src="/bundle.js"></script>
	<script src="/jquery/dist/jquery.min.js"></script>
	<script>
	
	</script>
  </body>
</html>
